body,
html {
    height: 100%
}
body,
ul {
    margin: 0
}
#logo:hover,
.social,
a {
    text-decoration: none
}
.content:after,
.supported {
    clear: both
}
.guides,
.home,
.home .window {
    box-sizing: border-box
}
.btn,
.sub-menu h5 {
    text-transform: uppercase
}
body {
    -webkit-text-size-adjust: none;
    font: 16px/30px Avenir, sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, .8);
    background: #1c1f2c
}
body.pjax-loading #page-content {
    opacity: .3
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff
    }
}
button,
input,
select,
textarea {
    outline: 0;
    font-family: Avenir, sans-serif;
    font-weight: 200
}
input::-ms-clear {
    display: none
}
a {
    color: #61dafb
}
ul {
    padding: 0
}
ul li {
    list-style: none
}
.btn {
    border-radius: 60px;
    padding: 0 44px;
    display: block;
    background: #7027d1;
    font-size: 16px;
    color: #000;
    line-height: 3.8;
    height: 60px;
    max-width: 277px;
    border: none;
    font-weight: 500
}
.social a,
.social li {
    position: relative;
    height: 26px
}
.btn:hover {
    background: #1ebf5e
}
.main-hold {
    position: relative;
    padding-bottom: 30px
}
@media (min-width: 768px) {
    body {
        font-size: 16px
    }
    .main-hold {
        margin: 0 auto;
        padding-bottom: 60px
    }
    .top-site {
        padding-top: 60px;
        padding-right: 20px;
        padding-left: 280px
    }
    .top-site:after {
        clear: both
    }
    .top-site:after,
    .top-site:before {
        content: "";
        display: table
    }
}
@media (min-width: 992px) {
    .top-site {
        padding-right: 50px;
        padding-left: 400px
    }
}
.social {
    display: none
}
@media (min-width: 768px) {
    .social {
        display: inline-block;
        float: right;
        margin-top: 10px
    }
}
.social li {
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    left: -32px
}
.social li:last-child {
    margin-right: 62px;
    padding-left: 4px
}
.social li:last-child img {
    width: 100%
}
.social a {
    display: block;
    background: url(../assets/images/ico_social.svg) no-repeat;
    width: 25px
}
.social a .stat {
    display: block;
    background: #333;
    border-radius: 3px;
    position: absolute;
    left: 33px;
    top: 2px;
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
    line-height: 23px;
    height: 22px;
    font-weight: 700;
    padding: 0 10px
}
@media (min-width: 768px) {
    .social a .stat:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3px 3px 3px 0;
        border-color: transparent #333 transparent transparent;
        position: absolute;
        content: "";
        left: -3px;
        top: 50%;
        margin-top: -3px
    }
}
#logo,
#menu {
    height: 100px
}
.social .git a {
    background-position: -51px 0
}
#logo {
    display: block;
    cursor: pointer;
    background: url(../assets/images/FermionLogo.png) center left no-repeat;
    background-size: 40px auto;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
    padding-left: 56px;
    margin: 0 0 0 40px;
    float: left
}
@media (min-width: 768px) {
    #logo {
        background-position: center;
        background-size: auto 100%;
        font-size: 16px;
        line-height: 22px;
        margin: 60px auto 10px;
        text-align: center;
        max-width: 130px;
        float: none;
        position: relative;
        z-index: 101
    }
}
.team {
    color: #aaa;
    display: none;
    font-size: 15px
}
@media (min-width: 768px) {
    .team {
        display: block
    }
    #menu {
        /* width: 220px; */
        width: 100%; 
        background: #fff;
        height: 100%;
        text-align: center;
        position: fixed;
        top: 0;
        z-index: 10;
        border-right: 10px solid #0050bc;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7027d1), to(#0050bc)) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(#7027d1, #0050bc) 1 100%;
        -moz-border-image: -moz-linear-gradient(#7027d1, #0050bc) 1 100%;
        -o-border-image: -o-linear-gradient(#7027d1, #0050bc) 1 100%;
        border-image: linear-gradient(to bottom, #7027d1, #0050bc) 1 100%
    }
}
@media (min-width: 992px) {
    #menu {
        width: 270px
    }
}
#menu .menu-trigger {
    height: 10px;
    width: 23px;
    padding-top: 7px;
    cursor: pointer;
    float: right;
    margin: 43px 40px 0 0
}
#menu .menu-trigger span,
#menu .menu-trigger span:after,
#menu .menu-trigger span:before {
    background: #fff;
    width: 100%;
    height: 2px;
    display: block;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    backface-visibility: hidden
}
#menu .menu-trigger span {
    position: relative
}
#menu .menu-trigger span:after,
#menu .menu-trigger span:before {
    content: "";
    position: absolute
}
#menu .menu-trigger span:before {
    top: -7px
}
#menu .menu-trigger span:after {
    top: 7px
}
#menu .menu-trigger.is-active span {
    background: 0 0
}
#menu .menu-trigger.is-active span:before {
    -webkit-transform: translate(0, 7px) rotate(-45deg);
    transform: translate(0, 7px) rotate(-45deg)
}
#menu .menu-trigger.is-active span:after {
    -webkit-transform: translate(0, -7px) rotate(45deg);
    transform: translate(0, -7px) rotate(45deg)
}
#menu .design {
    display: none
}
@media (min-width: 768px) {
    #menu .menu-trigger {
        display: none
    }
    #menu .design {
        display: block;
        position: absolute;
        bottom: 35px;
        left: 0;
        width: 260px;
        font-size: 14px;
        color: #fff;
        line-height: 16px
    }
}
@media (min-width: 992px) {
    #menu .design {
        width: 350px
    }
}
#menu .design a {
    color: #fff
}
#menu .design a img {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle
}
#menu .supported {
    display: none
}
@media screen and (min-width: 992px) and (max-height: 750px) {
    #menu {
        overflow-y: scroll
    }
}
.supported {
    padding: 10px;
    bottom: 0;
    left: 0;
    font-size: 14px;
    text-align: center;
    color: #999;
    z-index: 10;
    margin: 0 auto
}
@media (min-width: 768px) {
    #menu .supported {
        display: block
    }
    .supported {
        width: 100%;
        position: absolute;
        bottom: 20px
    }
}
.supported .codesmith {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 6px;
    margin-bottom: -8px
}
@media screen and (min-width: 768px) and (max-height: 750px) {
    .supported {
        position: relative;
        bottom: auto;
        margin-top: 80px
    }
}
.menu-hold {
    display: none;
    width: 100%;
    z-index: 99
}
@media (min-width: 768px) {
    .menu-hold {
        display: block;
        height: auto;
        background: 0 0;
        text-align: left;
        position: absolute;
        top: 55%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    .menu-hold li {
        padding-left: 20%;
        margin-bottom: 15px;
        -webkit-transition: box-shadow .3s ease-in-out;
        transition: box-shadow .3s ease-in-out
    }
    .menu-hold li.active:nth-child(1) {
        box-shadow: inset 5px 0 0 0 #7027d1
    }
    .menu-hold li.active:nth-child(1) a {
        color: #7027d1
    }
    .menu-hold li.active:nth-child(2) {
        box-shadow: inset 5px 0 0 0 #61dafb;
        -webkit-transition: .5s;
        transition: .5s
    }
    .menu-hold li.active:nth-child(2) a {
        color: #61dafb
    }
    .menu-hold li.active:nth-child(3) {
        box-shadow: inset 5px 0 0 0 #8c00eb
    }
    .menu-hold li.active:nth-child(3) a {
        color: #8c00eb
    }
    .menu-hold li.active:nth-child(4) {
        box-shadow: inset 5px 0 0 0 #c4eb00
    }
    .menu-hold li.active:nth-child(4) a {
        color: #c4eb00
    }
    .menu-hold li a {
        color: #000;
        font-size: 24px;
        line-height: 2.5
    }
}
.menu-hold.is-active {
    background: rgba(28, 31, 44, .98);
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
    text-align: center;
    display: block
}
.menu-hold.is-active>ul {
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    padding-left: 0;
    margin-top: -44px
}
@media (min-width: 568px) {
    .menu-hold.is-active>ul {
        margin-top: 0
    }
}
.menu-hold.is-active li {
    margin: 30px 0
}
.menu-hold.is-active a {
    color: #fff;
    font-size: 30px
}
.menu-hold.is-active .social {
    display: inherit;
    position: absolute;
    width: 100%;
    bottom: 40px
}
.menu-hold.is-active .social li {
    margin: 0 5px
}
@media screen and (min-width: 768px) and (max-height: 750px) {
    .menu-hold {
        position: relative;
        -webkit-transform: none;
        transform: none;
        top: auto;
        margin-top: 80px
    }
}
.content:after,
.content:before {
    content: "";
    display: table
}
@media (min-width: 768px) {
    .content {
        padding-left: 240px;
        position: relative
    }
}
@media (min-width: 992px) {
    .content {
        padding-left: 300px
    }
}
.content .supported {
    display: block;
    margin-top: 40px
}
.home {
    max-width: 1040px;
    width: 100%;
    text-align: center;
    margin: 120px auto 0;
    padding: 0 20px
}
.home .home-logo {
    width: 100%;
    max-width: 400px
}
.home .resp {
    width: 100%;
    box-shadow: 0 14px 22px 5px rgba(0, 8, 26, .12)
}
@media (min-width: 768px) {
    .content .supported {
        display: none
    }
    .home {
        margin-top: 60px
    }
}
.home h1 {
    font-size: 50px;
    font-weight: 100;
    color: #61dafb;
    line-height: 1;
    margin: 0 0 20px
}
@media (min-width: 992px) {
    .home h1 {
        font-size: 70px;
        margin-bottom: 34px
    }
}
.home h2 {
    font-size: 22px;
    color: #fff;
    font-weight: 100;
    line-height: 1.4;
    margin: 0 0 50px
}
@media (min-width: 992px) {
    .home h2 {
        font-size: 36px;
        margin: 0 auto 24px
    }
}
.home>p {
    line-height: 1.8;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, .8)
}
.home .window {
    max-width: 330px;
    margin: 0 auto
}
@media (min-width: 768px) {
    .home>p {
        -webkit-transform: translateY(-120px);
        transform: translateY(-120px);
        margin: 0 auto;
        font-size: 18px
    }
    .home .window {
        max-width: 500px;
        margin-bottom: 0;
        -webkit-transform: translateY(180px);
        transform: translateY(210px)
    }
    .home .window .window-content {
        padding-top: 40px;
        padding-bottom: 40px
    }
}
.home .window p {
    margin: 0;
    text-align: left
}
.home a {
    color: #fff
}
.entry .go-top {
    background-color: rgba(255, 255, 255, .3);
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 1.9;
    display: none
}
.entry .go-top.fixed {
    display: block;
    z-index: 99
}
@media (min-width: 992px) {
    .home .window {
        -webkit-transform: translateY(180px);
        transform: translateY(180px)
    }
    .entry {
        margin-top: 80px
    }
    .entry .go-top.fixed {
        display: none
    }
}
.guides {
    max-width: 840px;
    width: 100%;
    padding: 0 20px;
    margin: 20px 0 0;
    position: relative
}
@media (min-width: 992px) {
    .guides {
        margin: 0;
        width: 70%
    }
}
.guides h1 {
    font-size: 40px;
    font-weight: 400;
    color: #61dafb;
    line-height: 1;
    margin: 0 0 30px;
    padding: 0
}
.guides h2,
.guides h4 {
    color: #fff
}
.guides h2 {
    font-size: 22px;
    font-weight: 100;
    line-height: 1.4;
    margin: 0 0 27px
}
@media (min-width: 992px) {
    .guides h2 {
        font-size: 26px;
        margin: 50px 0 30px
    }
}
.guides p {
    line-height: 30px;
    margin-bottom: 30px
}
.guides .pic {
    margin: 0 -17px;
    text-align: center
}
.guides .pic img {
    max-width: 100%
}
@media (min-width: 768px) {
    .guides {
        float: left
    }
    .guides .pic {
        margin: 0
    }
    .guides .pic img {
        display: none;
        max-width: 100%
    }
}
.guides>section {
    margin-bottom: 80px
}
.sub-menu {
    padding: 20px;
    margin-top: 87px
}
@media (min-width: 768px) {
    .sub-menu {
        margin-top: 0
    }
}
@media (min-width: 992px) {
    .sub-menu {
        background-color: transparent;
        width: 20%;
        min-height: 1px;
        padding: 0;
        margin-left: 50px;
        float: left;
        display: block;
        -webkit-animation: fadeInLeft .4s ease-in-out;
        animation: fadeInLeft .4s ease-in-out
    }
}
.sub-menu ul {
    padding-left: 18px
}
.sub-menu li {
    line-height: 2.5
}
.sub-menu li a {
    color: rgba(255, 255, 255, .8);
    font-size: 14px
}
@media (min-width: 992px) {
    .sub-menu ul {
        padding-left: 0
    }
    .sub-menu li {
        line-height: 1.9
    }
    .sub-menu li a.active,
    .sub-menu li a:hover {
        color: #61dafb
    }
}
.sub-menu h5 {
    margin: 0;
    color: #f1f1f1;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 4
}
.sub-menu h5 a {
    display: none
}
@media (min-width: 992px) {
    .sub-menu h5 {
        line-height: 2.8;
        margin-top: 10px
    }
    .sub-menu h5 a {
        display: block;
        position: absolute;
        width: 100%;
        height: 25px
    }
}
.sub-menu h5 i {
    display: inline-block;
    margin-right: 5px;
    transition: transform .3s ease-in-out
}
.sub-menu [data-accordion] [data-control] {
    position: relative
}
@media screen and (min-width: 992px) and (min-height: 751px) {
    .sub-menu [data-accordion] [data-content] {
        max-height: 100%!important;
        overflow: visible!important
    }
}
.sub-menu .accordion:first-child h5 {
    margin-top: 0
}
.sub-menu .accordion.open i {
    -webkit-transform: rotate(90deg) translateX(5px);
    transform: rotate(90deg) translateY(5px)
}
.sub-menu nav {
    -webkit-transition: padding .5s;
    transition: padding .5s
}
@media (min-width: 992px) {
    .sub-menu h5 i {
        display: none
    }
    .sub-menu nav.fixed {
        position: fixed;
        top: 0;
        padding-top: 20px;
        z-index: 99
    }
}
@media screen and (min-width: 992px) and (max-height: 750px) {
    .sub-menu [data-accordion] [data-content] {
        max-height: 0!important;
        overflow: hidden!important;
        -webkit-transition: none!important;
        transition: none!important
    }
    .sub-menu [data-accordion] [data-content].active {
        max-height: 100%!important;
        overflow: visible!important;
        -webkit-transition: none!important;
        transition: none!important
    }
}
.desktop-only {
    display: none!important
}
.content,
.top-site {
    -webkit-transition: .5s;
    transition: .5s
}
@media (min-width: 768px) {
    .desktop-only {
        display: block!important
    }
    .content,
    .top-site {
        -webkit-transition: none;
        transition: none
    }
}
html.is-menu,
html.is-menu body {
    overflow: hidden;
    height: 100vh
}
html.is-menu .social,
html.is-menu body .social {
    display: block;
    position: fixed;
    bottom: 50px;
    z-index: 100;
    right: 0;
    left: 0;
    text-align: center
}
html.is-menu .social .twitter,
html.is-menu body .social .twitter {
    margin-right: 30px
}
html.is-menu .social li:last-child,
html.is-menu body .social li:last-child {
    margin-right: 0
}
